@{
    ViewData["Title"] = "Acesso negado";
}
<script>
    function mensagem() 
        alert("Tente o login agora como : CLIENTE);
        
        </SCRIPT>
    
    <body style="background-color: black;">
     <strong style="color:red;text-shadow:2px 2px 2px 1px black;">Você não tem permissão para acessar este tipo de conteúdo!   </strong>
    
    




    
    </body>
