@{
    ViewData["Title"] = "Página Principal";
}

<div class="text-center">
    <h1 style="font-family:sans-serif; 
               font-weight:bold; 
               color:blanchedalmond;
               text-shadow:1px 1px 2px black;" class="display-4">
                                                                    Bem vindo!
    </h1>
    <p style="color:grey;
               text-shadow: 1px 1px 2px white;
               font-family:
               sans-serif;
               font-weight: bold;">Aqui é mais fácil organizar sua empresa.</p>

    <div style="font-family:Caladea;
                font-weight: bolder; 
                color:black;" class="card-group">
        <div class="small-card">
            <img src="~/css/2083280.png" class="card-img-top" alt="...">
            <div class="card-body">
                <a style="font-size: small; font-weight: bolder; color:black; text-shadow:1px 1px 2px white;" href="https://elevesuasvendas.com.br/blog/negocios/ordem-de-servico-online#:~:text=Uma%20ordem%20de%20servi%C3%A7o%20%C3%A9,tudo%20que%20comp%C3%B5e%20a%20entrega.">
                <h5 class="card-title">EMPRESAS</h5>
                <p class="card-text">Saiba mais sobre ordens de serviços.</p>
                </a>
            </div>
            <div class="card-footer">
            </div>
        </div>
        <div  class="small-card">
            <img src="~/css/25231.png" class="card-img-top" alt="...">
         
            <div class="card-body">
                <a style= "font-size: small; font-weight: bolder; color:black; text-shadow:1px 1px 2px white;" href="https://github.com/ICEI-PUC-Minas-PMV-ADS/pmv-ads-2022-2-e2-proj-int-t9-gestor-os/tree/main">
          
                <h5 class="card-title">PROJETO NO<span style="color:green;"> GITHUB</span>.</h5>
                <p class="card-text">Codigo fonte, issues, documentação e exemplos.</p>
             </a>

            </div>
            <div class="card-footer">
            </div>
        </div>
    </div>
</div>
