@{
    ViewData["Title"] = "Sobre";
}
<h1 style=" font-weight:bolder; 
            color:blanchedalmond ; 
            text-shadow: 1px 1px 2px black;"">@ViewData["Title"]</h1>

<p>Projeto criado no segundo semestre de 2022, Curso Tecnologo Analise e Desenvolvimento de Sistemas da PUC Minas, por: </p>
<ul style="color:grey; text-shadow: 1px 1px 2px white; font-family: sans-serif; font-weight: bold;">
 <li>Eduardo Ramos da Silva</li>
 <li>Bemvilac dos Santos Brito</li>
 <li>Gustavo henrique Pereira da silva</li>
 <li>Lucas Alexandre da Silva Santos</li>
 <li>Gabriel Vinícius Silveira e Silva Ildefonso</li>
 <li>Guilherme de Oliveira Costa</li>
</ul>
