@model LoginModel

@{

    Layout = "LayoutDeslogado";
    ViewData["Title"] = "Login";
}
<form asp-controller="Login" asp-action="Entrar" method="post">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Login</label>
        <input type="text" class="form-control" id="login">
        @Html.ValidationMessageFor(x => x.Login)
    </div>
    <div class="mb-3">
        <label for="senha" class="form-label">Senha</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
        @Html.ValidationMessageFor(x => x.Senha)
    </div>
    <button type="submit" class="btn btn-primary">Entrar</button>
</form>